body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ phần tử */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rose {
    position: absolute;
    top: -100px; /* Initial position off the screen */
    left: 50%;
    transform: translateX(-50%);
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% {
        top: -100px;
    }
    100% {
        top: 100%;
    }
}
